<div id="empresa">
  <div class="titulo">
    <h1>La empresa</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 container-empresa">
        <div class="imagenes-empresa">
          <div class="cocinero"></div>
          <div class="bg-letras"><div class="letras"></div></div>
          <div class="globos"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="diferencias">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
          <h2>¿Por qué <b>somos diferentes?</b></h2>
          <div class="col-lg-4 col-md-4 materias">
            <div class="img-materias"></div>
            <p>Sólo utilizamos <b>materias primas</b> de <b>primera calidad</b></p>
          </div>
          <div class="col-lg-4 col-md-4 servicios">
            <div class="img-servicios"></div>
            <p class="borde"><b>Mejoramos</b> nuestros productos y servicios <b>día a día</b></p>
          </div>
          <div class="col-lg-4 col-md-4 clientes">
            <div class="img-clientes"></div>
            <p>Pensamos en <b>nuestros clientes</b> como si fueran de la <b>familia</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>