<body>
	<div id="slider">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div id="slides">
					    <%= image_tag(photo_example(Category.first), class: '') %>
					    <%= image_tag(photo_example(Category.first), class: '') %>
					    <%= image_tag(photo_example(Category.first), class: '') %>
					    <%= image_tag(photo_example(Category.first), class: '') %>
					    <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
					    <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
					  </div>
				</div>
			</div>
		</div>
	</div>

	<div id="product-examples">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
					<% @categories.each_with_index do |category, index| %>
						<div class="col-lg-4 col-md-4 category-examples">
							<h2><%= category.title %></h2>
							<div id='<%= "carousel#{index+1}" %>' class='carousel slide' data-ride="carousel">
							    <div class="carousel-inner">
							    	<% 3.times do |t| %>
								  	  	<div class="item <%= 'active' if t == 0 %>">
								  	  	  <%= image_tag(photo_example(category), class: 'img-product') %>
								  	  	</div>
							  	  	<% end %>
							    </div>
							</div>
							<div class="ver-mas">
								<%= link_to products_path(category: category.title) do %>
									<p>Ver todas <b>las <%= category.title %></b></p>
								<% end %>
							</div>
						</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</body>


<%= render 'shared/map' %>