<body>
	<div id="slider">
		<div class="container <%= 'no-padding' if is_mobile? %>">
			<div class="row">
				<div class="col-lg-12 col-md-12 <%= 'no-padding' if is_mobile? %>">
					<div id="slides">
							<% @sliders.each do |slider|%>
					    	<%= is_mobile? ? image_tag(slider.mobile_banner.url, class: 'slider-mobile') : image_tag(slider.banner.url) %>
					    <% end %>
					    <a href="#" class="slidesjs-previous slidesjs-navigation"></a>
					    <a href="#" class="slidesjs-next slidesjs-navigation"></a>
					  </div>
				</div>
			</div>
		</div>
	</div>

	<div id="product-examples">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
					<% @categories.each do |category| %>
						<div class="col-lg-4 col-md-4">
							<h2><%= category.title %></h2>
							<div class='carousel-category-example'>
					    	<% 5.times do |t| %>
							  	<%= image_tag("#{category.title.downcase}/#{t+1}.jpg", class: 'img-product') %>
				  	  	<% end %>
						  </div>
							<div class="ver-mas">
								<%= link_to products_path(category: category.title) do %>
									<p>Ver todas <b>las <%= category.title %></b></p>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</body>


<%= render 'shared/map' %>