
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}



html {
    position: relative;
    min-height: 100%;
}

body {
	margin:0;
	padding:0;
	background: url(bg.png);
	margin: 0 0 50px; /* bottom = footer height */
	}
	

.info {
	margin-top:15%;
	}
	
.info .logo {
	width:233px;
	height:63px;
	margin:0 auto;
	background:url(logo.png) center top;
	}
	
.info .divisor {
	width:280px;
	height:1px;
	margin:20px auto 12px;
	border-bottom:1px dotted #e2d1ba;
	}
	
.info .pronto {
	font-size:37px;
	color:#71695e;
	text-align:center;
	margin:0 auto;
	font-weight:700;
	font-family: 'Amatic SC', cursive;
	}
	
	

footer {
	margin-top:20px;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;	
	}

.facebook {
	margin:0 auto;
	text-align:center;
	display:block;
	width:85px;
	height:24px;
	background:url(facebook.png) center top no-repeat;
	
	}
	
.facebook:hover {
	background-position:bottom center;
	}
	
	
@media only screen and (max-width: 768px) {
	
	.info {
	margin-top:5%;
	}
	
	}
	
	
@media only screen and (max-width: 480px) {
	
	.info {
	margin-top:25%;
	}
	
	}